<!doctype html>
<title>On-Demand Fedora Build Service</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<a href="https://github.com/amitsaha/gsoc2012_fbs/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>


<center>
<h1>On-Demand Fedora Build Service Dashboard</h1>
<p>
<p>
<img src="../static/images/fedora.png"></img>
<h2> Under-Construction</h2>
<p> Past, Present Build Job book-keeping.
<p>
<a href="/"> Go Home <a>
<p>
